<div class="customers index"></div>
<h1 style="text-align: center">CUSTOMERS</h1>
<%= link_to("Add New Customer",{:action => 'new'},:class =>'btn btn-info')%>

<table class="table table-hover">
	<thead>
		<tr class="header">
			<th>S.No.</th>          	
			<th>Customer</th>                
			<th>Email</th>                   
			<th>Mobile</th>
			<th>Referred By</th>                  
			<th>Actions</th>                 
		</tr>
	</thead>
	<tbody>
		<% @customers.each do |customer| %>
		<a href="customer_path" class="table-row">	
			<td class="center"><%= customer.id%></td>
			<td class="center"><%= customer.first_name %>  <%= customer.last_name %></td>
			<td class="center"><%= customer.email %></td>
			<td class="center"><%= customer.mobile%></td>
			<td class="center"><%= customer.referred_by%></td>
			<td class="center">
				<%= link_to("show",{:action => 'show',:id => customer.id},:class=>'action show')%>
				<%= link_to("edit",{:action => 'edit',:id => customer.id},:class=>'action edit')%>
			</a>
			
		</tr>
		<% end %>
	</tbody>
</table>
